body {
    background-color: whitesmoke;
    background-size: cover;
}

.navbar-brand {
    font-family: lato;
    font-size: 20px;
    font-weight: 900;
    color: blue;
}

.jumbotron {
    background-image: url(img/bts.jpg);
    background-size: cover;
    height: 500px;
}

.jumbotron .display-4 {
    color: lightyellow;
    font-weight: bold;
    margin-top: 80px;
    font-size: 30px
}

.jumbotron .lead {
    color: lightcyan;
    font-size: small;
    margin-top: 10px;
    text-indent: 2px;
    text-align: left;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.tombol {
    text-transform: uppercase;
    border-radius: 30px;
    font-weight: bold;
}

.text-center {
    font-weight: bold;
    text-align: center;
    display: block;
    text-shadow: lightblue;
    margin-bottom: 30px;
}

.tentang , .portfolio , .blog , .tim , .kontak {
    box-sizing: border-box;
    margin-bottom: 80px;
    background-color: black 0.20;
}

p {
    font-size: medium;
    font-weight: bold;
}

.col-lg-4 col-md-4 col-sm-12 {
    box-sizing: border-box;
    margin-right: 30px;
}

.form-kontak h1 {
    font-weight: bold;
}
/* untuk resolusi laptop */

@media (min-width: 991.98px) {
    .navbar-brand {
        font-size: 32px;
        color: white;
        text-shadow: black;
    }
    .navbar-brand, .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, alpha);
    }
    .nav-link {
        text-transform: uppercase;
        font-weight: bold;
        margin-right: 20px;
        padding-bottom: 3px;
    }                         
    .nav-link:hover {
        border-bottom: 3px solid #c8defd;
    }
    .jumbotron {
        height: 740px;
        margin-top: -75px;
    }
    .jumbotron .display-4 {
        margin-top: 150px;
        font-size: 80px;
        text-align: left;
        font-weight: bolder;
        text-shadow: 2px 2px 2px black;
    }

    .jumbotron .lead {
        font-size: large;
    }
}
